In [4]:
import ebooklib
from ebooklib import epub
from bs4 import BeautifulSoup
import spacy
import spacy.displacy as displacy #Text Visualization
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library
from geopy.geocoders import Nominatim

In [5]:
def epub2thtml(epub_path):
    book = epub.read_epub(epub_path)
    chapters = []
    for item in book.get_items():
        if item.get_type() == ebooklib.ITEM_DOCUMENT:
            chapters.append(item.get_content())
    return chapters

blacklist = [   '[document]',   'noscript', 'header',   'html', 'meta', 'head','input', 'script', '\n'   ]
# there may be more elements you don't want, such as "style", etc.
def chap2text(chap):
    output = ''
    soup = BeautifulSoup(chap, 'html.parser')
    text = soup.find_all(text=True)
    for t in text:
        if t.parent.name not in blacklist:
            output += '{} '.format(t)
    return output

def thtml2ttext(thtml):
    Output = []
    for html in thtml:
        text =  chap2text(html)
        Output.append(text)
    return Output

def epub2text(epub_path):
    chapters = epub2thtml(epub_path)
    ttext = thtml2ttext(chapters)
    return ttext

In [6]:
Book="C:\\Users\\aleja\\OneDrive\\Documents\\MBA\\99. Project Work\\Libros\\Brown, Dan - Angels & Demons.epub"
nlp=spacy.load("en_core_web_lg")

In [7]:
out=epub2text(Book)

In [8]:
#out[5]

In [9]:
number_words=[]
ff=len(out)
print(ff)
z=0
for i in (out):
    number_words.append(len(out[z]))
    z=z+1
number_words

9

[170, 72467, 132418, 142038, 185929, 51376, 183713, 169416, 6]

In [10]:
def listToString(s):
    # initialize an empty string 
    str1 = " " 
    
    # return string   
    return (str1.join(s)) 
    # Driver code     
Book=(listToString(out))  

Book2=nlp(Book)

lugares=[]

In [11]:
label=[]
lugares=[]
start_ent=[]
end_ent=[]
for ent in Book2.ents:
    #print(ent.text, ent.label_)
    #if ent.label_=="GPE" or  ent.label_=="LOC" or  ent.label_=="FAC" or  ent.label_=="PERSON":
    if ent.label_=="GPE" or  ent.label_=="LOC" or  ent.label_=="FAC":
        lugares.append(ent.text)
        label.append(ent.label_)
        start_ent.append(ent.start_char)
        end_ent.append(ent.end_char)

#spacy.displacy.render(Book2, style="ent", page="true")
#displacy.serve(Book2, style="ent")

#np.save('lugares_Diarios', lugares)

In [12]:
len(lugares)

1024

In [13]:
start_ent[0:10]

[192, 558, 572, 582, 592, 877, 896, 906, 916, 1065]

In [14]:
#Book[0:250]

In [35]:
def quote_book(lugares, label, start_ent, end_ent, Book):
    #len(start_ent)
    start_frase=[]
    end_frase=[]
    for i in end_ent[::]:
        z=i
    
        while z<len(Book):
            if Book[z]==".":
            #print("finish aqui", z, i)
                end_frase.append(z)
                break
            else:
                z+=1
    
    for x in start_ent[::]:
        f=x
        while f>=0:
            if Book[f]==".":
            
                start_frase.append(f)
            #print("start aqui", f,x)
                break
            else:
                f-=1
                if f<0:
                    Null=None
                    start_frase.append(Null)
    Frases_Book=[]
    z=0
    for i in start_frase:
        Frases_clean=re.sub('\n |  |\. ', '', (Book[start_frase[z]:end_frase[z]]))
        Frases_Book.append(Frases_clean)
        z+=1
    
    Data_Book=pd.DataFrame(list(zip(lugares, label, Frases_Book)), columns=["lugares","labels", "Quotes"])
    Data_Book=pd.DataFrame(list(zip(lugares, label, Frases_Book, Data_Book.index)), columns=["lugares","labels","Quotes", "Position"])
    #Data_Book=pd.DataFrame(list(zip(Data_Book.index)), columns=["Position"])
    Data_Book.to_csv("Data/Data_Book.csv")
    print("Quotes extracted")
    return Frases_Book, Data_Book

In [36]:
Frases, Data_Book=quote_book(lugares, label, start_ent, end_ent, Book)

Quotes extracted

In [37]:
Data_Book

,lugares,labels,Quotes,Position
0,New York,GPE,Also by Dan Brown \nDigital FortressA N G E L ...,0
1,Avenue,FAC,"1230 Avenue of the Americas, New York, NY 1002...",1
2,Americas,LOC,"1230 Avenue of the Americas, New York, NY 1002...",2
3,New York,GPE,"1230 Avenue of the Americas, New York, NY 1002...",3
4,NY,GPE,"1230 Avenue of the Americas, New York, NY 1002...",4
...,...,...,...,...
1019,Vatican City,GPE,".”\nLangdon felt a sudden anxiety, wondering i...",1019
1020,Vatican,FAC,"\n“His Holiness asked me to give this to you,...",1020
1021,St. Peter’s Square,GPE,He and Vittoria had talked about it last night...,1021
1022,earth,LOC,"“Maybe for your nextexperiment, you could stud...",1022
1023,New England,LOC,He lives in New England with his wife,1023

In [16]:
len(start_ent)
start_frase=[]
end_frase=[]

for i in end_ent[::]:
    z=i
    
    while z<len(Book):
        if Book[z]==".":
            #print("finish aqui", z, i)
            end_frase.append(z)
            break
        else:
            z+=1
    
for x in start_ent[::]:
    f=x
    while f>=0:
        if Book[f]==".":
            
            start_frase.append(f)
            #print("start aqui", f,x)
            break
        else:
            f-=1
            if f<0:
                Null=None
                start_frase.append(Null)
            #print(f)

In [17]:
start_ent[0:10], end_ent[0:10], start_frase[0:10], end_frase[0:10]
len(start_frase), len(end_frase)

(1024, 1024)

In [18]:
import re
Frases_Book=[]
z=0
for i in start_frase:
    Frases_clean=re.sub('\n |  |\. ', '', (Book[start_frase[z]:end_frase[z]]))
    
    Frases_Book.append(Frases_clean)
    z+=1

In [19]:
# print(Book[3936:4101])
# (Book[start_frase[0]: end_frase[0]])
i=0
lugares[i],Frases_Book[i], start_ent[i], end_ent[i], start_frase[i], end_frase[i]

('New York',
 'Also by Dan Brown \nDigital FortressA N G E L S \n&D E M O N SD A NB R O W N POCKET BOOKS\nNew York London Toronto Sydney Singapore\nh \nT is book is a work of fiction',
 192,
 200,
 None,
 284)

In [21]:
Data_Book=pd.DataFrame(list(zip(lugares, label, Frases_Book)), columns=["lugares","labels", "Quotes"])
Data_Book=pd.DataFrame(list(zip(lugares, label, Frases_Book, Data_Book.index)), columns=["lugares","labels", "Quotes", "Position"])
Data_Book

,lugares,labels,Quotes,Position
0,New York,GPE,Also by Dan Brown \nDigital FortressA N G E L ...,0
1,Avenue,FAC,"1230 Avenue of the Americas, New York, NY 1002...",1
2,Americas,LOC,"1230 Avenue of the Americas, New York, NY 1002...",2
3,New York,GPE,"1230 Avenue of the Americas, New York, NY 1002...",3
4,NY,GPE,"1230 Avenue of the Americas, New York, NY 1002...",4
...,...,...,...,...
1019,Vatican City,GPE,".”\nLangdon felt a sudden anxiety, wondering i...",1019
1020,Vatican,FAC,"\n“His Holiness asked me to give this to you,...",1020
1021,St. Peter’s Square,GPE,He and Vittoria had talked about it last night...,1021
1022,earth,LOC,"“Maybe for your nextexperiment, you could stud...",1022
1023,New England,LOC,He lives in New England with his wife,1023

In [60]:
#Frases_Book[:5]

In [61]:
Data_Book.to_csv("Data_Book_2.0.csv")

In [22]:
Data_Book[50:55]

,lugares,labels,Quotes,Position
50,Louvre,LOC,"Then again, his knowledge was limited to the s...",50
51,El Prado,FAC,"Then again, his knowledge was limited to the s...",51
52,U.S.,GPE,"Of course, the entire world is under the impre...",52
53,Frisbee,FAC,"As if to accentuate the collegiate atmosphere,...",53
54,Fourth Symphony,FAC,"As if to accentuate the collegiate atmosphere,...",54

In [23]:
import numpy as np
import pandas as pd
import folium
import googlemaps


def coordinates(lugares):
    #lugares_load=np.load(lugares)
    #lugares_Book=pandas.read_csv(Data_Book)
    pos, lugares_load= np.unique(lugares, return_index=True)
    g_key=googlemaps.Client(key="AIzaSyAJ0DKhauX591z08eBbYxtcVjbFOZLfd2I")
    lugares_DF=pd.DataFrame({"Position": pos, "lugares":lugares_load})
    lugares_DF["LAT_google"]= None
    lugares_DF["LON_google"]= None
    print ("Launching Google API...")
    for i in range(0, len(lugares_DF), 1):
        geocode_result=g_key.geocode(lugares_DF.iat[i,0])
        try:
            print ("coordinates: ", i, " of ", len(lugares_DF), "extracted")
            lat=geocode_result[0]["geometry"]["location"]["lat"]
            lon=geocode_result[0]["geometry"]["location"]["lng"]
            lugares_DF.iat[i,lugares_DF.columns.get_loc("LAT_google")]=lat
            lugares_DF.iat[i,lugares_DF.columns.get_loc("LON_google")]=lon
        except:
            lat=None
            lon=None
    print ("coordinates: ", i, " extracted")
    #lugares_DF.to_csv(r'lugares.csv', index = True)
    return(lugares_DF)

In [24]:
lugares_DF=coordinates(lugares)
# Data_Book_all=[Data_Book, lugares_DF]

Launching Google API...
coordinates:  0  of  240 extracted
coordinates:  1  of  240 extracted
coordinates:  2  of  240 extracted
coordinates:  3  of  240 extracted
coordinates:  4  of  240 extracted
coordinates:  5  of  240 extracted
coordinates:  6  of  240 extracted
coordinates:  7  of  240 extracted
coordinates:  8  of  240 extracted
coordinates:  9  of  240 extracted
coordinates:  10  of  240 extracted
coordinates:  11  of  240 extracted
coordinates:  12  of  240 extracted
coordinates:  13  of  240 extracted
coordinates:  14  of  240 extracted
coordinates:  15  of  240 extracted
coordinates:  16  of  240 extracted
coordinates:  17  of  240 extracted
coordinates:  18  of  240 extracted
coordinates:  19  of  240 extracted
coordinates:  20  of  240 extracted
coordinates:  21  of  240 extracted
coordinates:  22  of  240 extracted
coordinates:  23  of  240 extracted
coordinates:  24  of  240 extracted
coordinates:  25  of  240 extracted
coordinates:  26  of  240 extracted
coordinates:  27  of  240 extracted
coordinates:  28  of  240 extracted
coordinates:  29  of  240 extracted
coordinates:  30  of  240 extracted
coordinates:  31  of  240 extracted
coordinates:  32  of  240 extracted
coordinates:  33  of  240 extracted
coordinates:  34  of  240 extracted
coordinates:  35  of  240 extracted
coordinates:  36  of  240 extracted
coordinates:  37  of  240 extracted
coordinates:  38  of  240 extracted
coordinates:  39  of  240 extracted
coordinates:  40  of  240 extracted
coordinates:  41  of  240 extracted
coordinates:  42  of  240 extracted
coordinates:  43  of  240 extracted
coordinates:  44  of  240 extracted
coordinates:  45  of  240 extracted
coordinates:  46  of  240 extracted
coordinates:  47  of  240 extracted
coordinates:  48  of  240 extracted
coordinates:  49  of  240 extracted
coordinates:  50  of  240 extracted
coordinates:  51  of  240 extracted
coordinates:  52  of  240 extracted
coordinates:  53  of  240 extracted
coordinates:  54  of  240 extracted
coordinates:  55  of  240 extracted
coordinates:  56  of  240 extracted
coordinates:  57  of  240 extracted
coordinates:  58  of  240 extracted
coordinates:  59  of  240 extracted
coordinates:  60  of  240 extracted
coordinates:  61  of  240 extracted
coordinates:  62  of  240 extracted
coordinates:  63  of  240 extracted
coordinates:  64  of  240 extracted
coordinates:  65  of  240 extracted
coordinates:  66  of  240 extracted
coordinates:  67  of  240 extracted
coordinates:  68  of  240 extracted
coordinates:  69  of  240 extracted
coordinates:  70  of  240 extracted
coordinates:  71  of  240 extracted
coordinates:  72  of  240 extracted
coordinates:  73  of  240 extracted
coordinates:  74  of  240 extracted
coordinates:  75  of  240 extracted
coordinates:  76  of  240 extracted
coordinates:  77  of  240 extracted
coordinates:  78  of  240 extracted
coordinates:  79  of  240 extracted
coordinates:  80  of  240 extracted
coordinates:  81  of  240 extracted
coordinates:  82  of  240 extracted
coordinates:  83  of  240 extracted
coordinates:  84  of  240 extracted
coordinates:  85  of  240 extracted
coordinates:  86  of  240 extracted
coordinates:  87  of  240 extracted
coordinates:  88  of  240 extracted
coordinates:  89  of  240 extracted
coordinates:  90  of  240 extracted
coordinates:  91  of  240 extracted
coordinates:  92  of  240 extracted
coordinates:  93  of  240 extracted
coordinates:  94  of  240 extracted
coordinates:  95  of  240 extracted
coordinates:  96  of  240 extracted
coordinates:  97  of  240 extracted
coordinates:  98  of  240 extracted
coordinates:  99  of  240 extracted
coordinates:  100  of  240 extracted
coordinates:  101  of  240 extracted
coordinates:  102  of  240 extracted
coordinates:  103  of  240 extracted
coordinates:  104  of  240 extracted
coordinates:  105  of  240 extracted
coordinates:  106  of  240 extracted
coordinates:  107  of  240 extracted
coordinates:  108  of  240 extracted
coordinates:  109  of  240 extracted
coordinates:  110  of  240 extracted
coordinates:  111  of  240 extracted
coordinates:  112  of  240 extracted
coordinates:  113  of  240 extracted
coordinates:  114  of  240 extracted
coordinates:  115  of  240 extracted
coordinates:  116  of  240 extracted
coordinates:  117  of  240 extracted
coordinates:  118  of  240 extracted
coordinates:  119  of  240 extracted
coordinates:  120  of  240 extracted
coordinates:  121  of  240 extracted
coordinates:  122  of  240 extracted
coordinates:  123  of  240 extracted
coordinates:  124  of  240 extracted
coordinates:  125  of  240 extracted
coordinates:  126  of  240 extracted
coordinates:  127  of  240 extracted
coordinates:  128  of  240 extracted
coordinates:  129  of  240 extracted
coordinates:  130  of  240 extracted
coordinates:  131  of  240 extracted
coordinates:  132  of  240 extracted
coordinates:  133  of  240 extracted
coordinates:  134  of  240 extracted
coordinates:  135  of  240 extracted
coordinates:  136  of  240 extracted
coordinates:  137  of  240 extracted
coordinates:  138  of  240 extracted
coordinates:  139  of  240 extracted
coordinates:  140  of  240 extracted
coordinates:  141  of  240 extracted
coordinates:  142  of  240 extracted
coordinates:  143  of  240 extracted
coordinates:  144  of  240 extracted
coordinates:  145  of  240 extracted
coordinates:  146  of  240 extracted
coordinates:  147  of  240 extracted
coordinates:  148  of  240 extracted
coordinates:  149  of  240 extracted
coordinates:  150  of  240 extracted
coordinates:  151  of  240 extracted
coordinates:  152  of  240 extracted
coordinates:  153  of  240 extracted
coordinates:  154  of  240 extracted
coordinates:  155  of  240 extracted
coordinates:  156  of  240 extracted
coordinates:  157  of  240 extracted
coordinates:  158  of  240 extracted
coordinates:  159  of  240 extracted
coordinates:  160  of  240 extracted
coordinates:  161  of  240 extracted
coordinates:  162  of  240 extracted
coordinates:  163  of  240 extracted
coordinates:  164  of  240 extracted
coordinates:  165  of  240 extracted
coordinates:  166  of  240 extracted
coordinates:  167  of  240 extracted
coordinates:  168  of  240 extracted
coordinates:  169  of  240 extracted
coordinates:  170  of  240 extracted
coordinates:  171  of  240 extracted
coordinates:  172  of  240 extracted
coordinates:  173  of  240 extracted
coordinates:  174  of  240 extracted
coordinates:  175  of  240 extracted
coordinates:  176  of  240 extracted
coordinates:  177  of  240 extracted
coordinates:  178  of  240 extracted
coordinates:  179  of  240 extracted
coordinates:  180  of  240 extracted
coordinates:  181  of  240 extracted
coordinates:  182  of  240 extracted
coordinates:  183  of  240 extracted
coordinates:  184  of  240 extracted
coordinates:  185  of  240 extracted
coordinates:  186  of  240 extracted
coordinates:  187  of  240 extracted
coordinates:  188  of  240 extracted
coordinates:  189  of  240 extracted
coordinates:  190  of  240 extracted
coordinates:  191  of  240 extracted
coordinates:  192  of  240 extracted
coordinates:  193  of  240 extracted
coordinates:  194  of  240 extracted
coordinates:  195  of  240 extracted
coordinates:  196  of  240 extracted
coordinates:  197  of  240 extracted
coordinates:  198  of  240 extracted
coordinates:  199  of  240 extracted
coordinates:  200  of  240 extracted
coordinates:  201  of  240 extracted
coordinates:  202  of  240 extracted
coordinates:  203  of  240 extracted
coordinates:  204  of  240 extracted
coordinates:  205  of  240 extracted
coordinates:  206  of  240 extracted
coordinates:  207  of  240 extracted
coordinates:  208  of  240 extracted
coordinates:  209  of  240 extracted
coordinates:  210  of  240 extracted
coordinates:  211  of  240 extracted
coordinates:  212  of  240 extracted
coordinates:  213  of  240 extracted
coordinates:  214  of  240 extracted
coordinates:  215  of  240 extracted
coordinates:  216  of  240 extracted
coordinates:  217  of  240 extracted
coordinates:  218  of  240 extracted
coordinates:  219  of  240 extracted
coordinates:  220  of  240 extracted
coordinates:  221  of  240 extracted
coordinates:  222  of  240 extracted
coordinates:  223  of  240 extracted
coordinates:  224  of  240 extracted
coordinates:  225  of  240 extracted
coordinates:  226  of  240 extracted
coordinates:  227  of  240 extracted
coordinates:  228  of  240 extracted
coordinates:  229  of  240 extracted
coordinates:  230  of  240 extracted
coordinates:  231  of  240 extracted
coordinates:  232  of  240 extracted
coordinates:  233  of  240 extracted
coordinates:  234  of  240 extracted
coordinates:  235  of  240 extracted
coordinates:  236  of  240 extracted
coordinates:  237  of  240 extracted
coordinates:  238  of  240 extracted
coordinates:  239  of  240 extracted
coordinates:  239  extracted

In [104]:
lugares_DF=lugares_DF.rename(columns={"Position": "lugares", "lugares": "Position"})
lugares_DF=lugares_DF.drop(['Position'], axis=1)
lugares_DF

                 lugares LAT_google LON_google
0            1230 Avenue    40.6064   -73.9606
1                   Abru    32.1797    51.4546
2                 Aegean    39.0192    25.2686
3              Alpha Rom    42.6557     -83.23
4                America    37.0902   -95.7129
..                   ...        ...        ...
235  the mome e  \n \nnt    36.1533   -95.4985
236    this Chigi Chapel    41.9115    12.4765
237               transm    39.9295   -91.3998
238                 twen    38.8039   -77.1174
239            und \n \n    47.9229   -97.0768

[240 rows x 3 columns]

In [27]:
def Data_coord(lugares_DF, Data_Book, Book_name):  
    lugares_DF=lugares_DF.rename(columns={"Position": "lugares", "lugares": "Position"})
    lugares_DF=lugares_DF.drop(['Position'], axis=1)
    Data_Book_2=pd.merge(lugares_DF, Data_Book, on = "lugares", sort = False)
    Data_Book_2=Data_Book_2.sort_values("Position")
    Data_Book_2.to_csv("Data/Geocode_" + Book_name + ".csv")
    print("saved Data_Book_Geocode.csv")
    return(Data_Book_2)

In [28]:
Data_coord(lugares_DF, Data_Book, "sss")

saved Data_Book_Geocode.csv

,lugares,LAT_google,LON_google,labels,Quotes,Position
224,New York,40.7128,-74.006,GPE,Also by Dan Brown \nDigital FortressA N G E L ...,0
8,Avenue,40.7494,-74.0033,FAC,"1230 Avenue of the Americas, New York, NY 1002...",1
6,Americas,54.526,-105.255,LOC,"1230 Avenue of the Americas, New York, NY 1002...",2
225,New York,40.7128,-74.006,GPE,"1230 Avenue of the Americas, New York, NY 1002...",3
210,NY,40.7128,-74.006,GPE,"1230 Avenue of the Americas, New York, NY 1002...",4
...,...,...,...,...,...,...
820,Vatican City,41.9029,12.4534,GPE,".”\nLangdon felt a sudden anxiety, wondering i...",1019
719,Vatican,41.9029,12.4534,FAC,"\n“His Holiness asked me to give this to you,...",1020
506,St. Peter’s Square,41.9022,12.4567,GPE,He and Vittoria had talked about it last night...,1021
898,earth,37.2321,-95.7243,LOC,"“Maybe for your nextexperiment, you could stud...",1022
220,New England,43.9654,-70.8227,LOC,He lives in New England with his wife,1023

In [25]:



Data_Book_2=pd.merge(lugares_DF, Data_Book, on = "lugares", sort = False)
len(Data_Book)
Data_Book_2.head(20)
Data_Book_2=Data_Book_2.sort_values("Position")
Data_Book_2

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [67]:
# #Data_Book_all.to_csv("Data_Book.csv")
# Data_Book["lugares"][0]
# lugares_unique=np.unique(lugares, return_index=True)
# len(lugares_unique[1])

In [68]:
# geolocator = Nominatim(user_agent="Travel-app")
# location = geolocator.geocode(Data_Book["lugares"][1])
# #print(location.address)
# print((location.address))
# print((location.latitude, location.longitude))

In [69]:
# import time
# #Data_Book_short=Data_Book
# #fff=Data_Book_short.drop_duplicates(subset ="lugares")


# def coordinates_geopy(lugares):
#     #lugares_load=np.load(lugares)
#     #lugares_Book=pandas.read_csv(Data_Book)
#     #Data_Book_short=Data_Book
#     #fff=Data_Book_short.drop_duplicates(subset ="lugares")  
#     lat=[]
#     lon=[]
#     lugares_unique=np.unique(lugares, return_index=True)
#     address=[]

#     #g_key=googlemaps.Client(key="AIzaSyAJ0DKhauX591z08eBbYxtcVjbFOZLfd2I")
#     geolocator = Nominatim(user_agent="Travel-app")
#     #lugares_DF=pd.DataFrame(lugares)
#     # lugares_DF["LAT"]= None
#     # lugares_DF["LON"]= None
#     #print ("Launching Google API...")
#     all_points=len(lugares_unique)
#     start_time = time.time()
#     for i in range(0, all_points, 1):
#         #geocode_result=g_key.geocode(lugares_DF.iat[i,0])
        
#         location = geolocator.geocode(lugares_unique[i])
#         if location is None:
#             print(i, " NONE ")
#         else:
#             lat.append(location.latitude)
#             lon.append(location.longitude)
#             address.append(location.address)
#         # except:
#         #     lat=None
#         #     lon=None
#         #print ("coordinates: ", i, "of ", all_points, " extracted", sep=' ', end='', flush=True)
#             #print (i, sep=' ', end='', flush=False)
#     #lugares_DF.to_csv(r'lugares.csv', index = True)
#     print("--- %s seconds ---" % (time.time() - start_time))
#     return(lugares_unique, lon, lat, address)

In [70]:
# Data_Book_Short=pd.DataFrame(list(zip(lugares_unique, lon, lat, address)), columns=["lugares","LON", "LAT", "address"])
# Data_Book_Short

In [107]:
Data_Book_2.to_csv("Data_Book_Geocode.csv")

In [5]:
import os
base=os.path.basename("C:\\Users\\aleja\\OneDrive\\Documents\\MBA\\99. Project Work\\Libros\\Brown, Dan - Angels & Demons.epub")
base
os.path.splitext(base)[0]

'Brown, Dan - Angels & Demons'

In [2]:
name=ntpath.basename("C:\\Users\\aleja\\OneDrive\\Documents\\MBA\\99. Project Work\\Libros\\Brown, Dan - Angels & Demons.epub")

In [3]:
name

'Brown, Dan - Angels & Demons.epub'